<section>
    <div class="container mx-auto rounded-md flex items-center justify-between bg-white flex-row overflow-x-auto py-3 my-4 px-6">
        <div class="mx-2 my-1">
            <img id="veg-icon" class="h-20" src="/images/icons/veg.png" alt="Veg-food logo">
            <label for="veg-icon" class="text-sm font-bold flex justify-center">Vegetarian</label>
        </div>
        <div class="mx-2 my-1">
            <img id="nonVeg-icon" class="h-20" src="/images/icons/nonVeg.png" alt="NonVeg-food logo">
            <label for="nonVeg-icon" class="text-sm font-bold flex justify-center">Non-vegetarian</label>
        </div>
        <div class="mx-2 my-1">
            <img id="vegStarter-icon" class="h-20" src="/images/icons/vegStarter.png" alt="VegStarter-food logo">
            <label for="vegStarter-icon" class="text-sm font-bold flex justify-center">Veg Starter</label>
        </div>
        <div class="mx-2 my-1">
            <img id="nonVegStarter-icon" class="h-20" src="/images/icons/nonVegStarter.png" alt="NonVegStarter-food logo">
            <label for="nonVegStarter-icon" class="text-sm font-bold flex justify-center">Non-veg Starter</label>
        </div>
        <div class="mx-2 my-1">
            <img id="mainCourse-icon" class="h-20" src="/images/icons/mainCourse.png" alt="Main-Course-food logo">
            <label for="mainCourse-icon" class="text-sm font-bold flex justify-center">Main Courese</label>
        </div>
        <div class="mx-2 my-1">
            <img id="sideDishes-icon" class="h-20" src="/images/icons/sideDishes.png" alt="sideDishes-food logo">
            <label for="sideDishes-icon" class="text-sm font-bold flex justify-center">Side Dishes</label>
        </div>
        <div class="mx-2 my-1">
            <img id="soup-icon" class="h-20" src="/images/icons/soup.png" alt="soup-food logo">
            <label for="soup-icon" class="text-sm font-bold flex justify-center">Soup</label>
        </div>
        <div class="mx-2 my-1">
            <img id="fastFood-icon" class="h-20" src="/images/icons/fastFood.png" alt="fastFood-food logo">
            <label for="fastFood-icon" class="text-sm font-bold flex justify-center">Fast Food</label>
        </div>
        <div class="mx-2 my-1">
            <img id="dessert-icon" class="h-20" src="/images/icons/dessert.png" alt="dessert-food logo">
            <label for="dessert-icon" class="text-sm font-bold flex justify-center">Dessert</label>
        </div>
        <div class="mx-2 my-1">
            <img id="beverage-icon" class="h-20" src="/images/icons/beverage.png" alt="beverage-food logo">
            <label for="beverage-icon" class="text-sm font-bold flex justify-center">Beverage</label>
        </div>
    </div>
</section>
<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Are you hungry?</em></h6>
            <h1 class="text-3xl md:text-6xl font-bold">Don't wait !</h1>
            <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
        </div>
        <div class="w-1/2">
            <img src="/img/hero-pizza.png" alt="">
        </div>
    </div>
</section>
<section class="login flex justify-center py-1">
    <div class="container w-full rounded-md px-7">
      <div
        class="border-b border-solid border-#FF0000 flex items-center justify-between"
      >
        <div class="text-#232323 text-xl font-bold flex items-center py-4">
          Top Picks For You
        </div>
        <!-- <a href="/admin/product">
          <button
            class="btn rounded-full flex flex-row justify-center items-center text-white font-bold py-2 px-4 my-2 rounded focus:outline-none focus:shadow-outline"
          >
            View All
            <img src="/img/arrow.png" alt="arrow-icon" class="invert-colors w-4 my-1 mx-1" style="filter: invert(1);">
          </button>
        </a> -->
      </div>
      <div id="recommendation" class="grid grid-cols-1 md:grid-cols-3 gap-6">

      </div>
      <!-- <div id="trending-loading-element" class="flex items-center justify-center">
        <div
          class="loader rounded-full border-4 border-t-4 border-red-500 h-12 w-12"
        ></div>
      </div> -->
    </div>
  </section>
<!-- <section class="login flex justify-center py-1">
    <div class="container w-full rounded-md px-7">
      <div
        class="border-b border-solid border-#FF0000 flex items-center justify-between"
      >
        <div class="text-#232323 text-xl font-bold flex items-center py-4">
          Our Best Sellings
        </div>
        <a href="/admin/product">
          <button
            class="btn rounded-full flex flex-row justify-center items-center text-white font-bold py-2 px-4 my-2 rounded focus:outline-none focus:shadow-outline"
          >
          View All
          <img src="/img/arrow.png" alt="arrow-icon" class="invert-colors w-4 my-1 mx-1" style="filter: invert(1);">
          </button>
        </a>
      </div>
      <div id="best-selling" class="grid grid-cols-1 md:grid-cols-3 gap-6">

      </div>
      <div id="best-selling-loading-element" class="flex items-center justify-center">
        <div
          class="loader rounded-full border-4 border-t-4 border-red-500 h-12 w-12"
        ></div>
      </div>
    </div>
  </section> -->
<section class="login flex justify-center py-1">
    <div class="container w-full rounded-md px-7">
      <div
        class="border-b border-solid border-#FF0000 text-#232323 text-xl font-bold flex items-center py-4"
      >All Products
      </div>
      <div id="content" class="grid grid-cols-1 md:grid-cols-3 gap-6">

      </div>
      <div id="loading-element" class="flex items-center justify-center">
        <div
          class="loader rounded-full border-4 border-t-4 border-red-500 h-12 w-12"
        ></div>
      </div>
    </div>
  </section>
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/home.js"></script>
  