<div class="flex items-center justify-center py-16">
    <img
      style="
        margin: 10px;
        height: 100px;
        filter: invert(50%) saturate(50%) brightness(80%);
      "
      src="/img/tickets.png"
      alt=""
    />
    <div class="text-4xl text-gray-500 font-bold m-5">No Ticket Found.</div>
  </div>