<div class="flex items-center justify-center py-16">
  <img
    style="
      margin: 10px;
      height: 100px;
      filter: invert(50%) saturate(50%) brightness(80%);
    "
    src="/img/login.png"
    alt=""
  />
  <div class="text-4xl text-gray-500 font-bold m-5">
    Login to see your Tickets.
  </div>
</div>
<div class="flex items-center justify-end w-full">
  <a
    href="/login"
    class="inline-block px-6 py-2 rounded-full btn text-white font-bold m-3 py-3"
    >Click here to Login</a>
</div>
