<div class="flex items-center justify-center py-16">
    <img
      style="
        margin: 10px;
        height: 100px;
      "
      src="/img/server_err.png"
      alt=""
    />
    <div class="text-4xl text-gray-500 font-bold m-5">Oops!!!&nbsp;&nbsp;&nbsp;&nbsp;Server Error.</div>
  </div>
