<section class="login flex justify-center">
    <div class="container w-full rounded-md px-7">
      <div
        class="border-b border-solid border-#FF0000 flex items-center justify-between"
      >
        <div class="text-#232323 text-xl font-bold flex items-center py-4">
          Tickets
        </div>
        <!-- Radio buttons for filtering -->
        <div class="flex items-center">
          <input
          type="radio"
          id="pending"
          name="status"
          value="pending"
          checked
          class="mr-2 status-radio"
          />
          <label for="pending" class="mr-4">Pending</label>
          
          <input
          type="radio"
          id="resolved"
          name="status"
          value="resolved"
          class="mr-2 status-radio"
          />
          <label for="resolved" class="mr-4">Resolved</label>

          <input
            type="radio"
            id="all"
            name="status"
            value="all"
            class="mr-2 status-radio"
          />
          <label for="all" class="mr-4">All</label>
        </div>
      </div>
      <div id="content"></div>
      <div id="loading-element" class="flex items-center justify-center">
        <div
          class="loader rounded-full border-4 border-t-4 border-red-500 h-12 w-12"
        ></div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/adminTicket.js"></script>
  