<section class="login flex justify-center">
    <div class="container w-full rounded-md px-7">
        <div class="border-b border-solid border-#FF0000 flex items-center justify-between">
        <div class=" text-#232323 text-xl font-bold flex items-center py-4">My Orders</div>
        <div class="flex items-center text-lg">
          <select id="statusDropdown" class="px-4 py-2 bg-gray-200 border border-gray-800 rounded-md text-sm focus:outline-none">
            <option value="pending" selected>Pending</option>
            <option value="confirm">Comfirmed</option>
            <option value="waiting">Waiting</option>
            <option value="ready">Ready</option>
            <option value="completed">Completed</option>
            <option value="cancelled">Cancelled</option>
            <option value="all">All</option>
          </select>
        </div>        
      </div>
        <div id="order-content">

        </div>
        <div class="flex items-center justify-center">
            <div id="order-loading-element" class="loader rounded-full border-4 border-t-4 border-red-500 h-12 w-12"></div>
        </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/adminOrders.js"></script>